/*Northen Lights CSS stylesheet--*/

body{
      box-sizing: border-box;
    }
h1 {
      text-align: center;
    }
nav  {
      text-align: center;
}

/*The Northern Lights Photo*/
.row {
  display: flex;
  justify-content: center;
}

.row img {
  margin-left: 10px;
  margin-right: 10px;
}


#navp{
  font-size: 15px;
}
