/*Topgraphy */
h1, h2, h3, h4, h5, h6, h6, p, ul, li, span, strong, em {
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p{}
ul, ol {}
li {}
blockquotes {}

/*Base*/
  html{}
    body{}
      a{}
        img{}

/*Same elements*/
none{}
flex {}
cta{}

/* Footer & Header */
header {}
nav  {
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
}
div{
  width: 119px;
  border: solid;
  float: left;
  padding: : 10px o;
}
logo {}
footer {}
footer a {}
social {}

/* Section-General Style */
section {}
article {}
